<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Body:</b>
  <%= @project.body %>
</p>

<p>
  <b>Video:</b>
  <%= @project.video %>
</p>
<p>
  <b>Funding Goal:</b>
  <%= @project.funding_goal %>
</p>
<p>
  <b>Current Funding:</b>
  <%= @project.current_funding %>
</p>
<p>
  <b>Funded:</b>
  <% if @project.funded %>
    <%= puts 'Funded!' %>
  <% end %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
